#addForm .row #submit{
    background-color: red;
    border: none;
}

#addForm .row #submit:hover{
    background-color:  black;
    color:lime;
}  

#boot {
    background-color: #86bacf;
    box-shadow: 10px;
}

h1{
    font-family: 'Dela Gothic One', cursive;
}